
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}My Wod Journal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link href="{{ asset('libraries/images/favicon.ico') }}" rel="icon"  type="image/png" />
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48" href="{{ asset('libraries/images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('libraries/images/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">



     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ asset('selectric/public/selectric.css') }}">
    
<link href="{{ asset('libraries/assets/css/wods.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{{ asset('node_modules/bootstrap-duration-picker/src/bootstrap-duration-picker.css') }}">

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
<!-- Left Panel -->
<a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('home') }}">My wod Journal</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
         <li {% if app.request.get('_route') == 'home' %} class="active" {% endif %}><a href="{{ path('home') }}">Accueil</a></li>
         <li {% if app.request.get('_route') == 'community' %} class="active" {% endif %}>  <a href="{{ path('community') }}">Communauté</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       <li {% if app.request.get('_route') == 'wods_list' or app.request.get('_route') == 'wod' or app.request.get('_route') == 'todo_list' or  app.request.get('_route') == 'security_login' %} class="dropdown active"{% else %} class="dropdown" {% endif %}>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mon profil
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li {% if app.request.get('_route') == 'wods_list' %} class="active" {% endif %}> <a href="{{ path('wods_list') }}">Mes entrainements</a></li>
            <li {% if app.request.get('_route') == 'wod' %} class="active" {% endif %}><a href="{{ path('wod') }}">Ajouter un entrainement</a></li>
            <li {% if app.request.get('_route') == 'security_logout' %} class="active" {% endif %}><a href="{{ path('security_logout') }}"> Se déconnecter</a></li>
        </ul>
      </li>
      
      
        {% else %}
        <li> <a href="{{ path('security_login') }}">Se connecter</a></li>
        {% endif %}
        
    </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</div>

<!-- Right Panel -->

{% if app.request.get('_route') == 'home' %}
{% else %}
  <div class="container-fluid">
{% endif %}

    <!-- Header-->
{% block body %}
    {% endblock %}

{% if app.request.get('_route') == 'home' %}
{% else %}
  </div>
{% endif %}

<footer class="footer">
   <p>My wod journal - Copyright 2019</p>
    
      <p><a href="{{ path('legalMentions') }}">Mentions légales</a></p>
    
  </footer>
<!-- .content -->
<!-- /#right-panel -->

<!-- Right Panel -->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="{{ asset('ckeditormobile/adapters/jquery.js') }}"></script>
<script src="{{ asset('ckeditormobile/ckeditor.js') }}"></script>

<script src="{{ asset('libraries/assets/js/main.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
 <script src="{{ asset('selectric/public/jquery.selectric.min.js') }}"></script> 

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script rel="stylesheet" src="{{ asset('node_modules/bootstrap-duration-picker/src/bootstrap-duration-picker.js') }}"></script>
  {% if app.request.get('_route') == 'wod' %}
   <script>
document.addEventListener('DOMContentLoaded', function(){ 
    // your code goes here
    CKEDITOR.replace( 'wod[work]' );
     CKEDITOR.replace( 'wod[comment]' );
      CKEDITOR.replace( 'wod[weight]' );
      var work = document.getElementById('workout_value').innerHTML;
      var weights = document.getElementById('weights_value').innerHTML;
      var weights = document.getElementById('comment_value').innerHTML;
    CKEDITOR.instances['wod_work'].setData(work);
    CKEDITOR.instances['wod_weight'].setData(weights);
    CKEDITOR.instances['wod_comment'].setData(weights);
}, false);
                
        
    </script>
  {% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->

</body>
</html>

