
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link href="{{ asset('libraries/images/favicon.ico') }}" rel="icon"  type="image/png" />
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48" href="{{ asset('libraries/images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('libraries/images/apple-touch-icon.png') }}">
    <link href="{{ asset('libraries/assets/css/style.css') }}" rel="stylesheet">
    <title>Bienvenue sur My WOD Journal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
	<style>
  html {
  margin:0;
  padding:0;
  overflow-x:hidden;
}
		body {
			font-family: 'Open Sans', sans-serif;
		}
	</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      $(function(){
        
          $(window).resize(function(){
            var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
            $('.parallax-container').height(parallaxHeight);
          }).trigger('resize');
        
      });
    </script>
  </head>
  <body style="background-color: rgba(46, 49, 49, 1);">
	
    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="{{ asset('libraries/images/background1filtered.jpg') }}" data-natural-width="1400" data-natural-height="900" style="font-size: 40px; text-align: center; color:white; padding-top: 20%;">
      		Bienvenue sur My WOD Journal<br /><br />
          Votre suivi sportif au quotidien qui va casser votre routine !
        <div class="arrow bounce">
  <a class="fa fa-angle-down fa-2x" href="#p2"></a>
</div>
      </div>
<section id="p2">
  <div class="cards-section">
<div class="card card2">
  <div class="card__content">
    <div class="content__text">
      <h4 class="content__title">PARTAGEZ</h4>
      <p><em> Partagez vos entrainements avec toute la communauté et échangez avec eux sur vos ressentis. Chaque séance enregistrée sera un pas de plus vers le progression grâce aux conseils des autres membres.</em></p>
    </div>
    <div class="content__footer">
      <a href="{{ path('community') }}" target="_blank" class="footer__links" style="color:black!important;">En savoir plus &#8594;</a><br><br>
    </div>
  </div>
</div>
<div class="card card2">
  <div class="card__content">
    <div class="content__text">
      <h4 class="content__title">INSPIREZ-VOUS</h4>
      
      <p><em>
                                    Brisez votre routine et inspirez-vous des entrainements des autres membres de la communauté. Commentez, likez, échangez avec d'autres sportifs pour paufiner vos entrainements et vos techniques.</em></p>
    </div>
    <div class="content__footer">
      <a href="{{ path('community') }}" target="_blank" class="footer__links" style="color:black!important;">En savoir plus &#8594;</a><br><br>
    </div>
  </div>
</div>
<div class="card card2">
  <div class="card__content">
    <div class="content__text">
      <h4 class="content__title">PROGRESSEZ</h4>
      <p><em> Grâce à votre journal de bord, vous connaîtrez vos performances sur chaque entrainement sans jamais les oublier, et votre coach pourra suivre vos entrainements au quotidien.</em></p>
    </div>
    <div class="content__footer">
      <a href="{{ path('community') }}" target="_blank" class="footer__links" style="color:black!important;">En savoir plus &#8594;</a><br><br>
    </div>
  </div>
</div>
</div>
<div class="arrow bounce">
  <a class="fa fa-angle-down fa-5x" href="#p3"></a>
</div>

</section>


    <div class="parallax-container"  id="p3" data-parallax="scroll" data-bleed="10" data-speed="0.1" data-image-src="{{ asset('libraries/images/background3filtered.jpg') }}" data-natural-width="1700" data-natural-height="1400" style="text-align: center; font-size: 30px; padding-top: 10%;">
    	Retrouvez les entrainements de toute la communauté et partagez les vôtres. <br />
    	On a tous connu la routine et le manque d'inspiration, <br />alors aidez les autres à innover et laissez les vous inspirer !<br /><br />
      
  <a href="{{ path('community') }}" style=" text-decoration: none; color: black;"><button style="width: 200px; height: 100px;border-radius: 5px; background-color: lightgray; font-size: 18px; text-transform: uppercase; cursor: pointer; font-family: 'Open Sans', sans-serif; color: black;" onmouseover="this.style.backgroundColor='white'"; onmouseout="this.style.backgroundColor='lightgray'";>accès au site</button></a>
    </div>
        


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        document.getElementById('button').style.display = 'block';

    }else if (window.scrollY <= 0){
    	document.getElementById('button').style.display = 'block';
    }else{
    	document.getElementById('button').style.display = 'none';
    }
};

</script>

<script src="{{ asset('parallax/parallax.js') }}"></script>
  </body>
</html>
