<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link href="{{ asset('libraries/images/favicon.ico') }}" rel="icon"  type="image/png" />
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48" href="{{ asset('libraries/images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('libraries/images/apple-touch-icon.png') }}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <title>Inscription à My WOD Journal</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ asset('libraries/template3/css/style.css') }}">
</head>
<body style="font-family: 'Open Sans', sans-serif;">

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="{{ asset('libraries/template3/images/signup-img2.png') }}" alt="">
                </div>
                <div class="signup-form">
                     {{ form_start(form, {'attr': {'class': 'register-form','id': 'register-form', 'enctype': 'multipart/form-data'}}) }}
                        <h2>INSCRIPTION</h2>
                            <div class="form-group">
                                {{ form_errors(form.fullName) }}
                              <label for="text-input" class=" form-control-label">Nom/prénom</label>
                                
                                {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}
                                
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.username) }}
                             <label for="text-input" class=" form-control-label">Pseudo</label>
                                
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.email) }}
                             <label for="text-input" class=" form-control-label">Email</label>
                                
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.password.first) }}
                             <label for="text-input" class=" form-control-label">Mot de passe</label>
                                
                                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                                
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.password.second) }}
                             <label for="text-input" class=" form-control-label">Confirmer</label>
                                
                                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                                
                            </div>
                            <div class="form-submit">
                            <input type="submit" value="JE M'INSCRIS" class="submit" name="submit" id="submit"  style="background: linear-gradient(to left, #48c6ef, #6f86d6)!important;"/>
                            </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
