{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<h1 class="title-page">Découvrez les entrainement des autres membres de la communauté</h1><br />
    {% for wod in listWods %}
        
        <div class="col-md-3 col-sm-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="text-light display-6">  {{ wod.name|upper }}</h2>
                                <p><i style="color: #333;">effectué par <span>{{ wod.username|upper }}</span> le <span>{{ wod.date }}</span></p></i>
                        </li>
                    
                           <li class="list-group-item">
                            <p class="title-list-group-item">Temps:</p> 
                            <p class="content-list-group-item">{{ wod.time }}</p>
                        </li>
                      
                        
                        <li class="list-group-item">
                            <p class="title-list-group-item">Workout:</p>
                            <div class="content-list-group-item">{{ wod.work|striptags|truncate(100, true)|raw|nl2br }}</div>
                        </li>
                      
                            <li class="list-group-item">
                            <p class="title-list-group-item">Poids utilisés:</p>
                            <div class="content-list-group-item">{{ wod.weight|striptags|truncate(100, true)|raw|nl2br }}</div>
                        </li>
                       
                            
                        <li class="list-group-item">
                            <p class="title-list-group-item">Commentaire:</p>
                            <div class="content-list-group-item">{{ wod.comment|striptags|truncate(100, true)|raw|nl2br }}</div>
                        </li>
                        <li class="list-group-item">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if wod.liked == 1 %}
                                <a class="unlike" data-wod="{{ wod.id }}"><i class="fas fa-thumbs-up fa-lg"></i></a>
                                {% else %} 
                                <a class="like" data-wod="{{ wod.id }}"><i class="far fa-thumbs-up fa-lg"></i></a>
                                {% endif %}
                           
                            <i class="far fa-comment fa-lg"></i>
                            {% else %}
                            <i class="far fa-thumbs-up fa-lg" id="likeNotRegistered"></i>
                            <i class="far fa-comment fa-lg"></i>
                            {% endif %}
                        </li>
                       
                        <li class="list-group-item">
                            <a href="{{ path('add_todolist', {'wodId': wod.id}) }}"><button class="btn btn-primary">Commentaires</button></a>
                            <a href="{{ path('wod', {'name': wod.name, 'workout': wod.work, 'weights': wod.weight}) }}"><button class="btn btn-success pull-right">Quick view</button></a>
                        </li>
                    </ul>

                </div>
        </div>


    {% endfor %}
{% endblock %}
