{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<h2 style="text-align: center;">Communauté</h2><br />
<p>Découvrez les entrainement des autres membres de la communauté</p><br />
    {% for wod in listWods %}
        <div class="col-md-6">
            <aside class="profile-nav alt">
                <section class="card">
                    <div class="card-header user-header alt bg-dark">
                        <div class="media">
                            {#
                            <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a>
                            #}
                            <div class="media-body">
                                <h2 class="text-light display-6">  {{ wod.name }}</h2>
                                <i>effectué par {{ wod.userFullName }}</i>
                                <p>{{ wod.date }}</p>
                            </div>
                        </div>
                    </div>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Temps:</strong> <br />
                            {{ wod.time }}
                        </li>
                        <li class="list-group-item">
                            <strong>Workout:</strong><br />
                            {{ wod.work|raw }}
                        </li>
                        <li class="list-group-item">
                            <strong>Poids utilisés:</strong><br />
                            {{ wod.weight|raw }}
                        </li>
                        <li class="list-group-item">
                            <strong>Commentaire:</strong><br />
                            {{ wod.comment|raw }}
                        </li>
                        <li class="list-group-item">
                            <strong>Action:</strong><br />
                            <a href="{{ path('add_todolist', {'wodId': wod.id}) }}"><button class="btn btn-primary">A faire plus tard</button></a>
                            <a href="{{ path('wod', {'name': wod.name, 'workout': wod.work, 'weights': wod.weight}) }}"><button class="btn btn-success">J'ai fait ce WOD</button></a>
                        </li>
                    </ul>

                </section>
            </aside>
        </div>


    {% endfor %}
{% endblock %}
