{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    {% if app.request.attributes.get('_route') == 'todo_list' %}
        <h2 style="text-align: center; margin-bottom: 30px;">Wods à faire</h2>
    {% else %}
    <h2 style="text-align: center; margin-bottom: 30px;">Mes wods</h2>

    {% endif %}
    {% if listWods is empty %}
        <div class="container" style="text-align:center; font-size: 18px;">
                <p>Vous n'avez pas encore enregistré d'entrainements, commencez de suite en <a href="{{ path('wod') }}" style="text-decoration: none; color: grey;" onmouseover="this.style.color='black'; this.style.textDecoration='underline';" onmouseout="this.style.color='grey'; this.style.textDecoration='none';">partagant votre dernier entrainement avec la communauté </a>!
        </div>

    {% endif %}
    {% for wod in listWods %}
         <div class="container">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="text-light display-6">  {{ wod.name|upper }}</h2>
                                <p>{{ wod.date }}</p>
                        </li>
                        <li class="list-group-item">
                        <strong>Workout:</strong><br />
                            {{ wod.work|raw }}
                        </li>
                        <li class="list-group-item">
                        <strong>Poids utilisés:</strong><br />
                            {{ wod.weight|raw }}
                        </li>
                        <li class="list-group-item">
                        <strong>Commentaire:</strong><br />
                            {{ wod.comment|raw }}
                        </li>

                            {% if app.request.attributes.get('_route') == 'todo_list' %}
                        <li class="list-group-item">
                            <strong>Action:</strong><br />
                                <a href="{{ path('wod', {'name': wod.name, 'workout': wod.work, 'weights': wod.weight}) }}"><button class="btn btn-success">J'ai fait ce WOD</button></a>
                        </li>
                            {% elseif app.request.attributes.get('_route') == 'wods_list'%}
                               {% else %}
                        <li class="list-group-item">
                            <strong>Action:</strong><br />
                                <a href="{{ path('wod', {'name': wod.name, 'workout': wod.work, 'weights': wod.weight}) }}"><button class="btn btn-success">J'ai fait ce WOD</button></a>
                                <a href="{{ path('add_todolist', {'wodId': wod.id}) }}"><button class="btn btn-primary">A faire plus tard</button></a>
                        </li>
                            {% endif %}

                    </ul>

            </div>
        </div>


    {% endfor %}
{% endblock %}
