{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin-bottom: 30px;">Liste des Wods</h2>
    {% for wod in listWods %}
        <div class="col-md-6">
            <aside class="profile-nav alt">
                <section class="card">
                    <div class="card-header user-header alt bg-dark">
                        <div class="media">
                            {#
                            <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                            </a>
                            #}
                            <div class="media-body">
                                <h2 class="text-light display-6">  {{ wod.name }}</h2>
                                <p>{{ wod.date }}</p>
                            </div>
                        </div>
                    </div>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <strong>Temps:</strong> {{ wod.time }}
                        </li>
                        <li class="list-group-item">
                        <strong>Workout:</strong>{{ wod.work }}
                        </li>
                        <li class="list-group-item">
                        <strong>Poids utilisés:</strong>{{ wod.weight }}
                        </li>
                        <li class="list-group-item">
                        <strong>Commentaire:</strong>{{ wod.comment }}
                        </li>
                    </ul>

                </section>
            </aside>
        </div>


    {% endfor %}
{% endblock %}
