{% extends 'base.html.twig' %}

{% block title %}Mes wods{% endblock %}

{% block body %}
  
    <div class="row" id="container-select">
        <select id="selectList" class="form-control">
            <option>Tous mes wods</option>
            <option>Wods effectués</option>
            <option>A faire plus tard</option>
        </select>

       {#<div id="list">
        </div>#} 
       {#<div  id="userId" style="display: none;">{{ listWods[0].userId }}
        </div>#} 
    </div>
      {% if listWods is empty %}
        <div class="container" style="text-align:center; font-size: 18px;">
                <p>Vous n'avez pas encore enregistré d'entrainements, commencez de suite en <a href="{{ path('wod') }}" style="text-decoration: none; color: grey;" onmouseover="this.style.color='black'; this.style.textDecoration='underline';" onmouseout="this.style.color='grey'; this.style.textDecoration='none';">partageant votre dernier entrainement avec la communauté </a>!</p>
        </div>

    {% endif %}
<div id="wods">
    {% for wod in listWods %}
         <div class="col-md-3 col-sm-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="text-light">  {{ wod.name|upper }}</h2>
                                <p>{{ wod.date }}</p>
                        </li>
                        
                           <li class="list-group-item">
                            <p class="title-list-group-item">Temps:  {{ wod.time }} </p></li>
                    
                        <li class="list-group-item">
                        <p class="title-list-group-item">Workout:</p><div class="content-list-group-item">
                            {{ wod.work|striptags|truncate(100, true)|raw|nl2br }}</div>

                        </li>
                       
                             <li class="list-group-item">
                        <p class="title-list-group-item">Poids utilisés:</p><div class="content-list-group-item">
                            {{ wod.weight|striptags|truncate(50, true)|raw|nl2br }}</div>
                        </li>
                       
                            <li class="list-group-item">
                        <p class="title-list-group-item">Commentaire:</p><div class="content-list-group-item">
                            {{ wod.comment|striptags|truncate(50, true)|raw|nl2br }}</div>
                        </li>
                      
                        

                    </ul>

            </div>
        </div>


    {% endfor %}

</div>
<div id="wodsTodo">
     {% for wodTodo in listWodsTodo %}
         <div class="col-md-3 col-sm-4">
                <div class="card todo">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="text-light display-6">  {{ wodTodo.name|upper }}</h2>
                                <p>{{ wodTodo.date }}</p>
                        </li>
                     
                           <li class="list-group-item">
                            <p class="title-list-group-item">Temps:</p> 
                            <p>{{ wodTodo.time }}</p>
                        </li>
                      
                        <li class="list-group-item">
                       <p class="title-list-group-item">Workout:</p>
                            <p>{{ wodTodo.work|raw }}</p>
                        </li>
                        
                             <li class="list-group-item">
                        <p class="title-list-group-item">Poids utilisés:</P><p>
                            {{ wodTodo.weight|raw }}</p>
                        </li>
                 
             
                            <li class="list-group-item">
                       <p class="title-list-group-item">Commentaire:</p><p>
                            {{ wodTodo.comment|raw }}</p>
                        </li>
                    
                        <li class="list-group-item">
                                <a href="{{ path('wod', {'name': wodTodo.name, 'workout': wodTodo.work, 'weights': wodTodo.weight, 'id': wodTodo.id }) }}"><button class="btn btn-success">J'ai fait ce WOD</button></a>
                        </li>
                        

                    </ul>

            </div>
        </div>


    {% endfor %}
</div>
{% endblock %}
