{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h2 style="text-align: center; margin-bottom: 30px;" id="titleWods">Tous mes wods</h2>

    {% if listWods is empty %}
        <div class="container" style="text-align:center; font-size: 18px;">
                <p>Vous n'avez pas encore enregistré d'entrainements, commencez de suite en <a href="{{ path('wod') }}" style="text-decoration: none; color: grey;" onmouseover="this.style.color='black'; this.style.textDecoration='underline';" onmouseout="this.style.color='grey'; this.style.textDecoration='none';">partagant votre dernier entrainement avec la communauté </a>!
        </div>

    {% endif %}
    <div class="container" style="text-align:center;">
        <select id="selectList" class="form-control">
            <option>Tous mes wods</option>
            <option>Wods effectués</option>
            <option>A faire plus tard</option>
        </select>
        <div id="list">
        </div>
        <div  id="userId" style="display: none;">{{ listWods[0].userId }}
        </div>
        <div id="wods">
    {% for wod in listWods %}
         <div class="container">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="text-light display-6">  {{ wod.name|upper }}</h2>
                                <p>{{ wod.date }}</p>
                        </li>
                        <li class="list-group-item">
                        <strong>Workout:</strong><br />
                            {{ wod.work|raw }}
                        </li>
                        {% if wod.weight is empty %}
                        {% else %}
                             <li class="list-group-item">
                        <strong>Poids utilisés:</strong><br />
                            {{ wod.weight|raw }}
                        </li>
                        </li>
                        {% endif %}
                       
                        {% if wod.comment is empty %}
                        {% else %}
                            <li class="list-group-item">
                        <strong>Commentaire:</strong><br />
                            {{ wod.comment|raw }}
                        </li>
                        {% endif %}
                        

                    </ul>

            </div>
        </div>


    {% endfor %}
</div>
<div id="wodsTodo">
     {% for wodTodo in listWodsTodo %}
         <div class="container">
                <div class="card todo">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="text-light display-6">  {{ wodTodo.name|upper }}</h2>
                                <p>{{ wodTodo.date }}</p>
                        </li>
                        <li class="list-group-item">
                        <strong>Workout:</strong><br />
                            {{ wodTodo.work|raw }}
                        </li>
                        {% if wodTodo.weight is empty %}
                        {% else %}
                             <li class="list-group-item">
                        <strong>Poids utilisés:</strong><br />
                            {{ wodTodo.weight|raw }}
                        </li>
                        </li>
                        {% endif %}
                       
                        {% if wodTodo.comment is empty %}
                        {% else %}
                            <li class="list-group-item">
                        <strong>Commentaire:</strong><br />
                            {{ wodTodo.comment|raw }}
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <strong>Action:</strong><br />
                                <a href="{{ path('wod', {'name': wodTodo.name, 'workout': wodTodo.work, 'weights': wodTodo.weight}) }}"><button class="btn btn-success">J'ai fait ce WOD</button></a>
                        </li>
                        

                    </ul>

            </div>
        </div>


    {% endfor %}
</div>
{% endblock %}
